.col-lg-12.col-md-12.col-sm-12.col-xs-12
  %br/
  %br/
  .col-lg-offset-5.col-md-offset-4.col-sm-offset-3.col-xs-offset-1
    .col-lg-4.col-md-6.col-sm-7.col-xs-11.new-element-area
      %h2.text-center.text-muted.review-title-font New Category
      %br/
      = render 'form'
      %br/
      %br/
      .btn.btn-default.btn-block.custom-secondary-btn-login-signup= link_to 'Back', categories_path
      %br/
      %br/

.col-lg-12.col-md-12.col-sm-12.col-xs-12
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/