%p.review-description= review.content
%hr
%p.text-center.review-footer-font Reviewed by #{ link_to review.author, review.user} on #{review.created_at.strftime("%e %B %Y")}
%p.text-center.rated-review-footer-font RATED AT #{review.rating}
