#footer
  .container-fluid
    %br/
    %br/
    %br/
    %br/
    %p.text-center.text-muted Website created for Netguru Workshops in 2015
    %p.text-center.text-muted Copyright: Netguru & Michal Zagrodzki